body {background-color:lightblue;}
h3 {font-size: 23px;}
h1, h2, h3, p, li{text-align: left;}
h1, h2 ,h3 {color: crimson;}
p {font-family: sans-serif;}
a {color:rgb(158, 0, 158)}
a:hover {color:greenyellow;}
a:visited {color: orange;}
